SwipWorkflow/conf/xml-resources/web-service-references/NlToPivotWS/wsdl/swipserver_8080/NlToPivot/NlToPivotWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://nlToPivot.swip.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://nlToPivot.swip.org/">

<xs:element name="translateQuery" type="tns:translateQuery" />

<xs:element name="translateQueryResponse" type="tns:translateQueryResponse" />

<xs:complexType name="translateQuery">
<xs:sequence>
<xs:element name="nlQuery" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="translateQueryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>