SwipWorkflow/conf/xml-resources/web-service-references/PivotToMappingsWS/wsdl/swipserver_8080/PivotToMappings/PivotToMappingsWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pivotToMappings.swip.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pivotToMappings.swip.org/" name="PivotToMappingsWS">
<types>
<xsd:schema>
<xsd:import namespace="http://pivotToMappings.swip.org/" schemaLocation="http://swipserver:8080/PivotToMappings/PivotToMappingsWS?xsd=1" />
</xsd:schema>
</types>
<message name="getMatchings">
<part name="parameters" element="tns:getMatchings" />
</message>
<message name="getMatchingsResponse">
<part name="parameters" element="tns:getMatchingsResponse" />
</message>
<message name="getPatterns">
<part name="parameters" element="tns:getPatterns" />
</message>
<message name="getPatternsResponse">
<part name="parameters" element="tns:getPatternsResponse" />
</message>
<message name="generateBestMappings">
<part name="parameters" element="tns:generateBestMappings" />
</message>
<message name="generateBestMappingsResponse">
<part name="parameters" element="tns:generateBestMappingsResponse" />
</message>
<message name="operation2">
<part name="parameters" element="tns:operation2" />
</message>
<message name="operation2Response">
<part name="parameters" element="tns:operation2Response" />
</message>
<message name="operation3">
<part name="parameters" element="tns:operation3" />
</message>
<message name="operation3Response">
<part name="parameters" element="tns:operation3Response" />
</message>
<message name="operation1">
<part name="parameters" element="tns:operation1" />
</message>
<message name="operation1Response">
<part name="parameters" element="tns:operation1Response" />
</message>
<portType name="PivotToMappingsWS">
<operation name="getMatchings">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/getMatchingsRequest" message="tns:getMatchings" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/getMatchingsResponse" message="tns:getMatchingsResponse" />
</operation>
<operation name="getPatterns">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/getPatternsRequest" message="tns:getPatterns" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/getPatternsResponse" message="tns:getPatternsResponse" />
</operation>
<operation name="generateBestMappings">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/generateBestMappingsRequest" message="tns:generateBestMappings" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/generateBestMappingsResponse" message="tns:generateBestMappingsResponse" />
</operation>
<operation name="operation2">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation2Request" message="tns:operation2" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation2Response" message="tns:operation2Response" />
</operation>
<operation name="operation3">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation3Request" message="tns:operation3" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation3Response" message="tns:operation3Response" />
</operation>
<operation name="operation1">
<input wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation1Request" message="tns:operation1" />
<output wsam:Action="http://pivotToMappings.swip.org/PivotToMappingsWS/operation1Response" message="tns:operation1Response" />
</operation>
</portType>
<binding name="PivotToMappingsWSPortBinding" type="tns:PivotToMappingsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getMatchings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPatterns">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generateBestMappings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="operation2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="operation3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="operation1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PivotToMappingsWS">
<port name="PivotToMappingsWSPort" binding="tns:PivotToMappingsWSPortBinding">
<soap:address location="http://swipserver:8080/PivotToMappings/PivotToMappingsWS" />
</port>
</service>
</definitions>